{% extends 'layout.twig' %}

{% block body %}
            <div class="pitch">
                <h1>Empowering small businesses with the right tools to succeed in the Internet world.</h1>
                <a href="/solution" class="learn">Learn More</a>
            </div>

            <hr />
            <div class="row quote">
                <p>Reach your customers anywhere, anytime, showcase your services and products in a professional manner.</p>
            </div>
            <hr />

            <div class="row">
                <div class="col">
                    <h2>Fast</h2>
                    <p>Render your services and or products faster across multiple devices. </p>
                </div>

                <div class="col">
                    <h2>Reliable</h2>
                    <p>99.&#37; Uptime. Guaranteed. Reach your clients 24&#47;7 Anytime, Anywhere</p>
                </div>

                <div class="col">
                    <h2>Informative</h2>
                    <p>Google Analitics ready. SEO built. Measure your site's performance with the right tools. </p>
                </div>

            </div>
            <hr />

        </div>
       {% endblock %}
