<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Marketing</title>
    <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicon-32x32.png">


    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="wrapper">

        <div class="container">
            <div class="navigation">
                <div class="logo">
                    <a href="/"><h2>digit&#40al&#41</h2></a>
                </div>
                <button class="c-hamburger c-hamburger--htx">
                    <span>toggle menu</span>
                </button>

                <div class="menu">
                    <ul>
                        <li>
                            <a href="/" class="current">Home</a>
                        </li>
                        <li>
                            <a href="/solution">Solution</a>
                        </li>
                        <li>
                            <a href="/work">Work</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
        {%block body%}{%endblock%}

        <footer>
             digit&#40al&#41&copy; 2016
        </footer>
    </div><!--wrapper -->
    <script src="js/app.js"></script>
</body>

</html>
