{% extends 'layout.twig' %}
{% block body %}
            <div class="pitch">
                <h2>In Today's world if anybody is going to find your business, your business needs to be on the Web.</h2>
                <a href="/contact" class="learn">Free Quote</a>
            </div>

            <hr />
            <div class="row paragraph">
                <h2>The Challenge</h2>
                <p>Using the Internet to promote services and or products could seem tantalizing to some, due to lack of technical expertise, time and resources. Domain names, Hosting services, Email marketing, Responsiveness, mean nothing to a newcomer. </p>

            </div>
            <div class="row paragraph">
                <h2>Our solution</h2>
                <p>We bring to you all the technical expertise as well as resources to put your business on the Internet in a professional, customized manner. We take care of the design, optimizations, publishing, and maintenance. </p>
                <p>We believe that small businesses have enough on their plate to worry about the technicalities of running a digital online presence.
                </p>
                <p>
                We offer flexible monthly, or quarterly packages to help you assess and improve your marketing campaign. We also offer on-going technical and design support and maintenance.</p>
                <h3>Features:</h3>
                <ul>
                    <li>
                        Responsive (Smartphones, Tablets, Laptops, etc.)
                    </li>
                    <li>
                        Google Analytics Enabled
                    </li>
                    <li>
                        Search Engine Optimized
                    </li>
                    <li>
                        Hosting Services
                    </li>
                    <li>
                        Domain Name Registration
                    </li>
                </ul>
            </div>
            <hr />

        </div>
{% endblock %}
